﻿@model Title.ViewModels.DetailsVm
@{
    ViewBag.Title = "Index";
}

<h2>Details of Title - @Model.Output.TitleDetail.TitleName</h2>
<div>
    Title: @Model.Output.TitleDetail.TitleName
    <br>
    Release Year: @Model.Output.TitleDetail.ReleaseYear
</div>
