﻿@model Title.ViewModels.ListVm
<div>
    <h4>List of Titles</h4>
    <table>
        <thead>
            <tr>
                <th>Title Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.TitleList)
            {
                <tr>
                    <td>@item.TitleName</td>
                    <td><button data-title-id="@item.TitleId" class="linkDetails">Details</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(".linkDetails").on("click", function () {
        
        window.location.href = "/Details/Index/?titleId=" + $(this).data("title-id");
    });
</script>