﻿@model Title.ViewModels.ListVm
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<h2>Index</h2>
<div>
    <label>Search for a Title by name</label>: <input type="text" id="txtSearchTitle" /> <button id="btnSearchTitle">Search Title</button>
</div>
<div id="divStatus" style="font-size:large;"></div>
<div id="divTitleList">
    @Html.Partial("_TitleList", Model)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSearchTitle").on("click", function () {
            $("#divStatus").html("Processing request........");
            var searchText = $("#txtSearchTitle").val();
            
            $.ajax({
                url: '/List/SearchTitle',
                type: 'GET',
                traditional: true,
                data: {searchText : searchText},
                statusCode: {
                    200: function (result) {
                        $("#divStatus").html(null);
                        $("#divTitleList").html(result);
                    },
                    500: function (xhr) {
                        alert('Error: ' + xhr.error);
                    }
                }          
            });

        });
    });
</script>
